.btn-whatsapp {
    position: fixed;
    z-index: 10;
    bottom: 2.5rem;
    right: 1rem;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #25D366;
    color: white;
    transition: 0.3s ease;
}

.btn-whatsapp:hover {
    background: #1ebe5c;
}